@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parkinsans:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Aref+Ruqaa:wght@400;700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parkinsans:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Dancing Script", cursive !important;
}
.navLink {
  transition: 0.3s;
}
.navLink:hover {
  color: #ffbc02ab !important;
}

.headerText {
  font-family: "Rakkas", cursive !important;
  font-size: clamp(3em, 0.5vw, 5px);
  color: #f7c948;
  text-shadow: 1em 4.5em 5em rgba(0, 0, 0, 0.5);
}
.navImg {
  width: 15%;
}
.glass-card {
  width: 50%;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 215, 130, 0.25);
  backdrop-filter: blur(0.8em);
  border-radius: 1em;
  /* padding: 1em; */
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
}
.glass-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
}

.glass-table tr {
  border-bottom: 1px solid rgba(255, 215, 130, 0.15);
}

.glass-table td {
  /* padding: 1em 1em; */
  font-size: 1.2em;
  color: #fff;
}

.glass-table td.time {
  color: #ffd88a;
  font-weight: 700;
  text-align: left;
}

.text-gold {
  color: #f7c948;
}

@keyframes goldPulse {
  0% {
    background-color: rgba(255, 215, 0, 0.1);
  }
  50% {
    background-color: rgba(255, 215, 0, 0.3);
  }
  100% {
    background-color: rgba(255, 215, 0, 0.1);
  }
}
.next-prayer-highlight {
  animation: goldPulse 2s infinite ease-in-out !important;
  border-right: 0.1em solid #ffd700 !important;
  transition: all 0.5s ease;
}
.next-prayer-highlight td {
  background-color: transparent !important;
}

@media screen and (max-width: 554px) {
  .glass-card {
    width: 70% !important;
  }
}
